.container {
	width: max(70%, 300px);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 5px;
	flex-direction: column;
	gap: 30px;
}

.title {
	width: 100%;
	margin: 0;
	text-align: center;
}

.proposals {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0 5px;
	flex-direction: column;
	gap: 15px;
	border-radius: 5px;
	border: 1px solid white;
}

.proposal {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 5px;
	align-items: center;
	overflow: hidden;
	box-shadow: 0 0 10px 0 rgba(0, 204, 255, 0.4);
	border-radius: 10px;
}

.proposal:first-of-type {
	background-color: var(--reachBlue);
	color: #fff;
	font-weight: bold;
}

.proposal:not(.proposal:last-of-type) {
	border-bottom: 0.5px solid white;
}

.identifiers {
	width: fit-content;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	gap: 5px;
}

.time {
	padding: 5px 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border-right: 2px solid #fff;
}

.address {
	padding: 5px 5px;
	display: flex;
	min-width: 200px;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.ticket {
	padding: 5px 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	border-left: 2px solid #fff;
}

.winner {
	color: rgb(0, 255, 0) !important;
}

.loser {
	color: rgb(215, 64, 64) !important;
}

.buttonBox {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	flex-wrap: wrap;
	border-radius: 5px;
}

.button {
	composes: choices from './Terms.module.css';
	composes: positive from './Terms.module.css';
	width: fit-content;
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.littleText {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.disabled {
	composes: choices from './Terms.module.css';
	composes: negative from './Terms.module.css';
	border-color: #fff;
	color: #fff;
}

.disabled:hover {
	transform: none;
}

.view {
	width: 300px;
	overflow-x: hidden;
	border-radius: 5px;
}

.bContainer {
	width: 200%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 5px;
}

.iBContainer {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 5px;
}

.button {
	composes: choices from './Terms.module.css';
	composes: positive from './Terms.module.css';
	width: 100%;
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(1, 1) !important;
}

.increased {
	width: 200%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 5px;
	transform: translate(-50%) !important;
	border-radius: 5px;
}

.higher {
	background-color: rgb(223, 83, 255) !important;
	border-color: rgb(223, 83, 255) !important;
}

/* .initial {
	transform: translateX(0);
} */

.zOut {
	transform: scale(0.9, 0.9) !important;
}
